@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --dark-blue: #1f3f72;
    --light-blue: #2359af;
    --dark-grey: #111;
    --light-grey: #f3f3f3;
    --tangerine: #FB8500;
}

html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Raleway', sans-serif;
}


h1{
    font-size: 4.2rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.8rem;
}

p,
a,
blockquote{
    font-size: 1.8rem;
}

a{
    text-decoration: none;
}


/* MAIN */

main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    gap: 2rem;
    background-color: var(--dark-grey);
    color: white;
}

main .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

main .quote{
    display: flex;
    flex-direction: column;  
    overflow: hidden;  
    background-color: var(--tangerine);

}

main .quote .img{
    max-height: 85vh;
    overflow: hidden;
}

main .quote .img img{
    max-width: 100%;
    object-fit: fill;
}

main .quote blockquote{
    color: var(--dark-grey);
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main h1{
    color: white;
    text-decoration:underline;
    text-decoration-color: var(--dark-blue);
}

main h1::after{
    content: '2022/1';
    display: block;
    font-size: 1.6rem;
    background-color: var(--dark-blue);
    color: white;
    width: fit-content;
    margin: 2rem 0;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;

}

main .info .button{
    color: white;
    text-transform: uppercase;
    line-height: 2.4rem;
    text-align: center;
    max-width: fit-content;
    line-break: anywhere;
    border: 1px solid var(--tangerine);
    padding: 1rem 2rem;
    position: relative;
}

main .info .button:hover{
    background-color: var(--tangerine);
    color: var(--dark-grey);
}

/* MÓDULOGS */
#modulos{
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
}

#modulos .info{
    padding: 4rem 2rem;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#modulos .info h1{
    color: var(--tangerine);
    text-decoration: underline;
    text-decoration-color: var(--dark-grey);
}

#modulos .container{
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,300px));
    gap: 2rem;
    justify-content: space-between;
    background-color: var(--light-grey);
}

#modulos .container .modulo{
    color: var(--dark-grey);
    height: 200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--dark-blue);

}

#modulos .container .modulo:hover{
    background-color: var(--dark-blue);
    color: white;
}

#modulos .modulo h3{
    text-decoration: underline;
    text-decoration-color: var(--light-blue);
}

footer{
    width: 100%;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    text-align: center;
    padding: 2rem 0;
}

footer a{
    color: var(--tangerine);
}


@media screen and (min-width: 320px) and (max-width: 760px){
    main, #modulos, #modulos .container{
        grid-template-columns: 1fr;
    }

    main{
        height: auto;
    }

        
}